<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>

<body>
    {% block default %}
    {% endblock %}

    <div class="ui sidebar visible left vertical labeled icon menu">
        {% block menu %}{% endblock %}
    </div>


    <div class="pusher">
        <div id="content">
            <!-- Основное содержимое страницы -->
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <!-- Подвал страницы -->
            {% block footer %}{% endblock %}
        </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Подключение Semantic UI JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

</body>


</html>